<div id="wrap">

  <div id="pay-wrap">
    <div id="from-payment-to-main">
      <img class="left-arrow__img" src="../images/white-arrow.svg" />
    </div>
    <div class="payment-text-block">
      <h3 class="payment-title">Сканировать QR-код</h3>
      <p class="payment-text">Наведите камеру на QR-код для оплаты</p>
    </div>
  </div>
  <div id="black-block">
    <div id="white-block">
      <div id="pay-loading">
        <div></div>
      </div>
    </div>
  </div>
  <div id="qr-reader"></div>
</div>
<script>
  sizing()
  window.addEventListener('resize' , ()=>{
    console.log('a') 
    sizing()
  })
  function sizing(){ 
      var base; 
      if (window.innerHeight >= window.innerWidth){
        base = window.innerHeight;
        if (window.innerHeight> 500){
          base = window.innerHeight+200;
        }
        if (window.innerHeight> 1000){
          base = window.innerHeight+300;
        }
        if (window.innerHeight> 1300){
          base = window.innerHeight+350;
        }

    
      }
      if (window.innerWidth > window.innerHeight){ 
        base = window.innerWidth * 2; 
      }
      if (window.innerWidth < 500 && window.innerHeight < 500){ 
        base = 600
      }


      $("#qr-reader").children('video').eq(0).css({'width:': '100%' , 'height': '100%' , 'display': 'block' , 'object-fit': 'fill7'})
      $("#qr-reader").css({ display: "block", height: base });
      $("#qr-reader").css({'width': base, 'height': base})

    } 


  $('#black-block').css({'display': "flex", "z-index": "5" , 'background-color': 'black'})
  $("#pay-wrap").css({display: "block", "z-index": "6 "})
  $("#pay-wrap").css({ border: "none", padding: "0", "touch-action": "none", overflow: "hidden"   });



  setTimeout(()=>{
    $('#black-block').css({'background-color': 'transparent'})
  } ,1000)
  var html5QrCode = new Html5Qrcode("qr-reader");
  var qrCodeSuccessCallback = (decodedText, decodedResult) => {
    let baza = "https://tvercard.ru/q/";
    let info = {};
    let vehicle_routeId;
    let next;
    html5QrCode.stop()
    if (decodedText.indexOf(baza) !== -1) {
      (async function (url) {
        let url_bus = `https://api.merlin.tvercard.ru/api/client/v1/qr-codes/${url}/vehicle`;
        try {
          await fetch(url_bus)
            .then((data) => data.json())
            .then((data) => {
              vehicle_routeId = data.route_id;
              info.tripNum = data.route_name;
              info.secondStation = '';
              next = data.next_station_id;
              getTime();
              info.busRegestarationNumber = `${data.license_number.slice(0, -2).slice(0,1)} ${data.license_number.slice(1, -4).slice()} ${data.license_number.slice(-4, -2)}`;
            });
          await fetch(
            `https://api.merlin.tvercard.ru/api/client/v1/routes/${vehicle_routeId}`
          )
            .then((data) => data.json())
            .then((data) => {
              if (next != '' && next != false && next != ' ' && next != undefined){ 
                if (data.stations != {} &&  data.stations != '' && data.stations != false && data.stations != ' ' && data.stations != undefined){
                  for (station of data.stations){ 
                    if (station.station_id == next){
                      info.firstStation = station.name;
                     }
                  }
                }
              }
              info.title = data.title;
              router('/confirm', 'POST', info )
            });
        } catch {
          return { error: true };
        }
        return { error: false };
        function formatTime(time) {
          if (time == 0) {
            return "00";
          }
          if (time < 10) {
            return `0${time}`;
          }
          return time;
        }
        function getTime() {
          const textMonth = {
            0: "января",
            1: "февраля",
            2: "марта",
            3: "апреля",
            4: "мая",
            5: "июня",
            6: "июля",
            7: "августа",
            8: "сентября",
            9: "октября",
            10: "ноября",
            11: "декабря",
          };
          let d = new Date();
          let date = `${d.getDate()} ${
            textMonth[d.getMonth()]
          } ${d.getFullYear()}`;
          let time = `${formatTime(d.getHours())}:${formatTime(
            d.getMinutes()
          )}`;
          info.time = time;
          info.date = date;
        }
      })(decodedText.slice(22));
    } else {
      alert("Отсанируйте нормальный qr-code");
    }
};
  var config = {fps: 30 };
  html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);
</script>
<script>
  $(document).ready(()=>{
      $('.left-arrow__img').on('click' , ()=>{ 
          router('/')
          html5QrCode.stop()
      })
  })
</script>