<div class="profile-wrap">
<div class="profile-item-separator">
    <div class="profile-block">
        <div class="profile-item__img"><a href=""><img src="../images/trip.svg" alt=""></a></div>
    <div class="profile-text-block"><a href="" class="profile-link-text">История<br>поездок</a></div>
    </div>
    <div class="profile-block">
        <div class="profile-item__img"><a href=""><img src="../images/chat.svg" alt=""></a></div>
        <div class="profile-text-block"><a href="" class="profile-link-text">Поддержка</a></div>
    </div>
</div>
<div class="profile-item-separator">
    <div class="profile-block" id="settings" onclick="javascript:location.href='/setting';">
        <div class="profile-block">
            <div class="profile-item__img"><img src="../images/set.svg" alt=""></div>
            <div class="profile-text-block"><a class="profile-link-text">Настройки</a></div>
        </div>
    </div>
</div>
</div>    