<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/ticket-setting-style.css">
    <link rel="stylesheet" href="../style/footer.css">
    <title>Настройки</title>
</head>
<body>
    <div class="wrap">
        <section>
            <div class="back-to-main"><img src="" alt=""></div>
            <div class="setting-title"><h3>Профиль</h3></div>
            <div class="setting-balance-block">
                <p class="setting-text">Баланс</p> <div class="input-block">
                <input type="text" class="setting-balance setting-input" value="250">
            </div></div>
        </section>
        <section>
            <div class="setting-title"><h3>Билет</h3></div>
            <div class="setting-price-block">
                <p class="setting-text">Цена</p> <div class="input-block">
                <input type="text" class="setting-price setting-input" value="27">
            </div></div>
            <div class="setting-date-block">
                <div class="setting-separator">
                    <p class="setting-text">Дата</p>
                    <p class="setting-btn date-setter">текущая</p>
                </div> <div class="input-block">
                <input type="text" class="setting-date setting-input" value="31 ноября 2022, 20:42">
            </div></div>
            <div class="setting-way-block">
                <p class="setting-text">Путь</p> <div class="input-block">
                <input type="text" class="setting-way setting-input" value="Энергоремонт - Мигалово">
            </div></div>
            <div class="setting-trip-block">
                <p class="setting-text">Номер маршрута</p> <div class="input-block">
                <input type="text" class="setting-trip-number setting-input" value="20">
            </div></div>
            <div class="setting-bus-block">
                <div class="setting-separator">
                    <p class="setting-text">Номер автобуса</p>
                    <p class="setting-btn bus-number-generate">Сгенерировать</p>
                </div> 
                <div class="input-block">
                <input type="text" class="setting-reg-num setting-input" value="О 033 НЛ">
            </div>
        </div>
        </section>

    </div>
    <script src="../scripts/setDate.js"></script>
    <script src="../scripts/busNumGenerate.js"></script>
</body>
</html>