
/* от 400пх до 450пх */

@media all and (min-height: 400px ) and (max-height: 450px){
    .header-menu {
        margin-top: 10px;
    }
    .header__block {
        width: 31%;
        height: 105px;
    }
    .header__block img {
        width: 38px;
        height: 38px;
        margin-bottom: 5px;
    }
    .header__block p {
        display: inline-block;
        height: 40px;
        font-weight: 400;
        font-size: 12px;
    }
    .pay-block {
        height: 60px;
        margin-bottom: 5px;
        padding: 3%;
    }
    .pay-blocks{
        bottom: 97px;
    }
    .title-block h2 {
        font-weight: 500;
        font-size: 15px;
    }
    .pay-block-text {
        font-size: 12px;
    }
    .pay-block__item p {
        font-size: 12px;
    }
    .pay-block-button {
        width: 76px;
        height: 25px;
        font-size: 13px;
    }
    .pay-block-info-img {
        width: 20px;
        height: 20px;
    }
    .ticket-block{ 
        padding: 10px;
        bottom: 95px;
    }
    .ticket-block-title{
        font-size: 14px;
    }
    .ticket{ 
        margin-top: 10px;
        padding: 0px 0px 10px 10px;
        width: 95%;
        border-radius: 13px;
        transform: scale(0.98);
}
.bus-number-block-da {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: -17px;
    scale: 0.7;
}
    p.bus-registration-number {
        font-size: 20px;
    }
    p.date {
        margin-bottom: 3px;
        font-size: 12px;
    }
    p.bus-station{
        font-size: 12px;
    }
    .price-block {
        border: 1px solid black;
        border-radius: 7px;
        padding: 2px 5px 2px 5px;
        margin-top: 5px;
    }
    p.trip-price {
        font-size: 18px;
    }
    .bus-number-block {
        margin-bottom: 5px;
    }
    p.bus-number {
        font-size: 12px;
    }
    span.bus-number-region {
        font-size: 10px;
    }
    .dohuya-vajniy-text-block {
        font-size: 10px;

    }
    img.ticket-qrcode {
        height: 36vh;
        width: 68vw;
    }
}

/* от 450пх до 500пх */

@media all and (min-height: 450px ) and (max-height: 500px){
    .header-menu {
        margin-top: 15px;
    }
    .header__block {
        width: 113px;
        height: 110px;
    }
    .header__block img {
        width: 42px;
        height: 42px;
        margin-bottom: 10px;
    }
    .header__block p {
        display: inline-block;
        height: 40px;
        font-weight: 400;
        font-size: 12px;
    }
    .pay-block {
        height: 70px;
        margin-bottom: 5px;
        padding: 3%;
    }
    .pay-blocks{
        bottom: 100px;
    }
    .title-block h2 {
        font-weight: 500;
        font-size: 16px;
    }
    .pay-block-text {
        font-size: 13px;
    }
    .pay-block__item p {
        font-size: 13px;
    }
    .pay-block-button {
        width: 76px;
        height: 25px;
        font-size: 13px;
    }
    .pay-block-info-img {
        width: 22px;
        height: 22px;
    }
    .ticket-block{ 
        padding: 10px;
        bottom: 95px;
    }
    .ticket-block-title{
        font-size: 14px;
    }
    .ticket{ 
        margin-top: 10px;
        padding: 0px 0px 10px 10px;
        width: 95%;
        border-radius: 13px;
        transform: scale(0.98)
}
    .bus-number-block-da {
        margin-top: 3px;
        margin-bottom: 0px;
        margin-left: -13px;
        scale: 0.75;
    }
    p.bus-registration-number {
        font-size: 20px;
    }
    p.date {
        margin-bottom: 3px;
        font-size: 12px;
    }
    p.bus-station{
        font-size: 12px;
    }
    .price-block {
        border: 1px solid black;
        border-radius: 7px;
        padding: 2px 5px 2px 5px;
        margin-top: 5px;
    }
    p.trip-price{
        font-size: 22px;
    }
    .bus-number-block {
        margin-bottom: 5px;
    }
    p.bus-number {
        font-size: 12px;
    }
    span.bus-number-region {
        font-size: 10px;
    }
    .dohuya-vajniy-text-block {
        font-size: 10px;

    }
    img.ticket-qrcode {
        height: 40vh;
        width: 55vw;
    }
}

/* от 500 до 550 */


@media all and (min-height: 500px ) and (max-height: 550px){
    .header-menu {
        margin-top: 25px;
    }
    .header__block {
        width: 115px;
        height: 115px;
    }
    .header__block img {
        width: 44px;
        height: 44px;
        margin-bottom: 10px;
    }
    .header__block p {
        display: inline-block;
        height: 35px;
        font-weight: 400;
        font-size: 13px;
    }
    .pay-block {
        height: 75px;
        margin-bottom: 10px;
        padding: 3%;
    }
    .pay-blocks{
        bottom: 98px;
    }
    .title-block h2 {
        font-weight: 500;
        font-size: 17px;
    }
    .pay-block-text {
        font-size: 14px;
    }
    .pay-block__item p {
        font-size: 14px;
    }
    .pay-block-button {
        width: 80px;
        height: 27px;
        font-size: 14px;
    }
    .pay-block-info-img {
        width: 24px;
        height: 24px;
    }
    .ticket-block{ 
        padding: 10px;
        bottom: 95px;
    }
    .ticket-block-title{
        font-size: 14px;
    }
    .ticket{ 
        margin-top: 10px;
        padding: 0px 0px 10px 10px;
        width: 95%;
        border-radius: 13px;
        transform: scale(0.97);
}
    .bus-number-block-da {
        margin-top: 5px;
        margin-bottom: 3px;
        margin-left: -13px;
        scale: 0.73;
    }
    p.bus-registration-number {
        font-size: 20px;
    }
    p.date {
        margin-bottom: 3px;
        font-size: 14px;
    }
    p.bus-station{
        font-size: 14px;
    }
    .price-block {
        border: 1px solid black;
        border-radius: 7px;
        padding: 2px 5px 2px 5px;
        margin-top: 5px;
    }
    p.trip-price{
        font-size: 24px;
    }
    .bus-number-block {
        margin-bottom: 5px;
    }
    p.bus-number {
        font-size: 14px;
    }
    span.bus-number-region {
        font-size: 12px;
    }
    .dohuya-vajniy-text-block {
        font-size: 12px;

    }
    img.ticket-qrcode {
        height: 38vh;
        width: 60vw;
    }
}

/* ot  550 do 600*/

@media all and (min-height: 550px ) and (max-height: 600px){
    .header__block {
        width: 115px;
        height: 110px;
    }
    .header__block img {
        width: 46px;
        height: 46px;
        margin-bottom: 8px;
    }
    .header__block p {
        display: inline-block;
        height: 45px;
        font-weight: 400;
        font-size: 12px;
    }
    .pay-block {
        height: 70px;
        margin-bottom: 8px;
        padding: 3.5%;
    }
    .pay-blocks{
        bottom: 98px;
    }
    .pay-block-button {
        width: 80px;
        height: 27px;
        font-size: 14px;
    }

    .dohuya-vajniy-text-block {
        font-size: 13px;
    }
    .ticket {
        margin-top: 10px;
        padding: 10px 0px 13px 13px;
        width: 96%;
        transform: scale(0.97);
    }
    img.ticket-qrcode {
        height: 35vh;
        width: 70vw;
    }
    .syeta{
        transform: scale(0.9);
        margin-left: -20px;
    }

    p.bus-number {
        font-size: 14px;
    }
    .bus-number-block-da {
        margin-top: -3px;
        margin-bottom: 3px;
        margin-left: -12px;
        transform: scale(0.78);
    }
    p.date {
        font-size: 14px;
    }
    .bus-station{
        font-size: 14px;
    }
    .price-block {
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        margin-top: 3px;
        transform: scale(0.88);
        margin-left: -6px;
    }
    .bus-number-block {
        padding: 4px;
        margin-bottom: 5px;
    }
}

/* ot 600 do 650 */

@media all and (min-height: 600px ) and (max-height: 650px){
    .pay-blocks{
        bottom: 98px;
    }
    .ticket {
        padding: 5px 0px 5px 13px;
        margin-top: 20px;
    }
    .bus-number-block-da {
        margin-top: 7px;
        margin-bottom: 10px;
        transform: scale(0.85);
        margin-left: -7px;
    }
    .pay-block{
        margin-bottom: 5px;
    }
    .price-block {
        border-radius: 10px;
        padding: 3px 7px 3px 7px;
        margin-top: 10px;
    }
    img.ticket-qrcode {
        height: 35vh;
        width: 70vw;
    }
    .bus-number-block {
        border-radius: 3px;
        padding: 3px;
        margin-bottom: 10px;
    }
    .dohuya-vajniy-text-block {
        font-size: 13px;
    }
}

/* ot 650 do 700 */

@media all and (min-height: 650px ) and (max-height: 700px){
    .ticket {
        padding: 5px 5px 15px 15px;
        margin-top: 20px;
    }
    .bus-number-block-da {
        margin-top: 7px;
        margin-bottom: 10px;
        transform: scale(0.85);
        margin-left: -7px;
    }
    .pay-blocks{
        bottom: 98px;
    }
    .pay-block{
        margin-bottom: 5px;
    }
    .price-block {
        border-radius: 10px;
        padding: 3px 7px 3px 7px;
        margin-top: 10px;
    }
    img.ticket-qrcode {
        height: 35vh;
        width: 70vw;
    }
    .bus-number-block {
        border-radius: 3px;
        padding: 3px;
        margin-bottom: 10px;
    }
    .dohuya-vajniy-text-block {
        font-size: 13px;
    }
}
/* ot 700 do 850 */
@media all and (min-height: 700px ) and (max-height: 850px){
    .bus-number-block-da {
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: -3px;
        transform: scale(0.93);
    }
}
@media all and (min-width: 600px) and (min-height: 800px){
    .header__block {
        width: 175px;
        height: 170px;
    }
    p.ticket-block-title {
        font-size: 18px;
    }
    .title-block h2 {
        font-size: 22px;
    }
    .header__block img {
        width: 55px;
        height: 55px;
        margin-bottom: 15px;
    }
    .header__block p {
        height: 50px;
        font-size: 18px;
    }
    .pay-block {
        height: 105px;
        margin-bottom: 10px;
        padding: 15px;
        width: 99%;
    }
    .pay-block-info-img {
        width: 30px;
        height: 30px;
    }
    .pay-block-text {
        font-size: 20px;
    }
    .pay-block__item p {
        font-size: 20px;
    }
    .pay-block-button {
        width: 120px;
        height: 35px;
        font-size: 16px;
    }
    .footer-menu {
        height: 65px;
        padding: 5px 20px 9px 20px;
    }
    p.date ,
    span.time ,
    .bus-station , 
    p.bus-number {
        font-size: 20px;
    }
    span.bus-number-region {
        font-size: 18px;
    }
    .dohuya-vajniy-text-block {
        font-size: 18px;
    }
    .pay-blocks {
        bottom: 120px;
    }
    .footer-menu__item {
        margin-top: 5px;
        transform: scale(0.95);
    }
    .pay-icon-spc {
        margin-top: -35px;
    }
    .ticket-block {

        bottom: 115px;
        padding: 15px;

    }
    
}
@media all and (max-width: 300px) {
    .header__block {
        width: 95px;
        height: 100px;
    }
    .header-menu {
        margin-top: 20px;
        width: 115%;
    }
    .header__block img {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }
    .header__block p {
        height: 30px;
        font-size: 12px;
    }
    .pay-block {
        padding: 10px;
    }
    .title-block h2 {
        font-size: 16px;
    }
    .pay-block-info-img {
        width: 20px;
        height: 20px;
    }
    .footer-menu {
        padding: 0;
    }
    .ticket-block {
        padding: 15px 5px 15px 5px;
    }
    .pay-block-button {
        width: 66px;
        height: 26px;
        border-radius: 5px;
        font-size: 12px;
    }
    .dohuya-vajniy-text-block {
        font-size: 11px;
    }
    p.bus-number {
        font-size: 14px;
    }
    p.trip-price {
        font-size: 24px;
    }
}