@media screen and (max-height : 600px) {
    
}
@media screen and (max-height : 800px) {

}
@media screen and (max-height : 1000px) {

}

.wrapz {
    padding: 10px;
    touch-action: none;
}
.back-to-payment__img{
    width: 35px;
    height: 35px;
    margin-left: -5px;
}
.title-confirmation {
    font-size: 30px;
    font-weight: 500;
}
.path-text {
    font-size: 18px;
}
.your-geo__block{
    display: flex;
    flex-direction: row;
}
.your-geo-useless-text {
    font-size: 16px;
    color: grey;
}

.price__block {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
}
button.confirm__btn {
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    background-color: #0041ff;
}
span.bold-path__text{
    font-weight: 700;
}
#spc-flex-block{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
#section-fisrt{
    padding-left: 5px;
}
#section-second{
    margin-bottom: 40px;
}
.your-geo-trip-confirm__icon {
    margin-top: 7px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25px;
    height: 120px;
}
.your-geo-trip-confirm-circle{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: red;
}
.your-geo-trip-confirm-rect{
    width: 3px;  
    height: 80px;
    background-color: red;  
}
.your-geo-title-station-bold{
    font-weight: 600;
    font-size: 22px;
}
.back-to-payment__block{
    margin-top: 10px;
}
.back-to-payment__block ,
.title-confirmation__block,
.path-text__block
{
    margin-bottom:15px
}

.bold-price__text{
    font-weight: 500;
}
.spc-flex-block{
    position: relative;
}

#successful-payment__wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.successful-payment-back-to-main__block {
    display: flex;
    justify-content: flex-end;
}
.successful-payment-back-to-main__img {
    width: 30px;
    height: 30px;
    margin: 15px 15px 0px 0px;
}
#successful-payment {
    width: 90%;
    height: 27%;
    background-color: white;
    z-index: 11;
    display: flex;
    border-radius: 3%;
    flex-direction: column;
} 
img.successful-payment-image {
    width: 70px;
    height: 70px;
}
.successful-payment-image__block {
    display: flex;
    justify-content: center;
}
p.successful-payment-text {
    font-size: 20px;
    font-weight: 500;
}
.successful-payment-text__block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}