/* не ну это база */
*{
    outline: none;
    margin: 0;
    padding: 0;
}
.wrapper{ 
    touch-action: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow:scroll;
}

/* размеры,стили блоков */
.qrcode-block {
    width: fit-content;
    margin: 0 auto;
}
.bus-number-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: min-content;
    border-radius: 4px;
    background: #f4f4f4;
    padding: 4px;
    margin-bottom: 20px;
}
.title-block-da{
    margin-bottom: 20px;
    width: max-content;
    padding: 0 0px 0px 10px;
}
.ticket{ 
    -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.bus-number-block-da {
    display: flex;
    align-items: center;
    min-height: 47px;
    width: 140px;
    margin-left: -25px;
    margin-bottom: 20px;
}
.ticket-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 0px -3px 0px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 44px 2px rgb(0 0 0 / 8%);
    width: 100%;
    height: 95%;
    border-radius: 20px;
    position: fixed;
    bottom: 95px;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    transform: translate(0 , 100%);
}
.pay-icon-spc{
    margin-top: -30px;
}
.title-block{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pay-block-prnt{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.pay-block-link{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.pay-blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 85%;

}
.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.header__block__with__shadow{
    -webkit-box-shadow: 0px 0px 13px 1px rgb(34 60 80 / 12%);
    -moz-box-shadow: 0px 0px 13px 1px rgb(34 60 80 / 12%);
    box-shadow: 0px 0px 13px 1px rgb(34 60 80 / 12%);
}
.header__block{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    border-radius: 10px;
    box-sizing: border-box;
}
.blue-header__block{
    background-color: #36acf2;
}
.pay-block{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 5px 22px 0px rgb(34 60 80 / 15%);
    -moz-box-shadow: 0px 5px 22px 0px rgb(34 60 80 / 15%);
    box-shadow: 0px 5px 22px 0px rgb(34 60 80 / 15%);
    border-radius: 10px;
}
.price-block {
    border: 2px solid black;
    height: max-content;
    width: max-content;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    align-items: center;
    justify-content: center;
}

/* размеры шрифтов и стили */
*{ 
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dohuya-vajniy-text-block {
    font-size: 14px;
    color: #808080a6;
}
span.bus-number-region {
    font-size: 13px;
}
p.bus-number {
    font-size: 17px;
    font-weight: 500;
}
p.bus-registration-number {
    color: white;
    display: inline-block;
    margin-left: -65px;
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 20px;
}
.about-the-trip-block {
    margin-bottom: 20px;
    font-size: 18px;
}
span.time {
    font-weight: 700;
}
.pay-block__item p {
    font-size: 14px;
}
.header__block p{ 
    display: inline-block;
    height: 35px;
    font-weight: 400;
    font-size: 13px;
}
p.trip-price {
    font-weight: 700;
    text-align: center;
    font-size: 28px;
}
.wt{ 
  color: white; 
}
.title-block h2{
    font-weight: 500;
    font-size: 17px;
} 
.pay-block-button:active{ 
    color: white;
    background-color: blue;
}
.pay-block-text{ 
    font-size:  14px;
}
.balance-bold{ 
    font-weight:700;
}
p.ticket-block-title {
    font-size: 16px;
    font-weight: 600;
}
/* размеры,стили картинок */
img.bus-number-block-da-image-block__img {
    width: 100px;
    height: 38px;
    margin-left: 25px;
}
img.ticket-qrcode {
    height: 30vh;   
    width: 64vw;
}
.header__block img{ 
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.pay-block-info-img{ 
    width: 24px;
    height: 24px;
}

/* стили кнопок */
.pay-block-button{
    width: 85px;
    height: 27px;
    background-color: white;
    border: 1.2px solid blue;
    border-radius: 6px;
    font-size: 14px;
    color: blue;
}

@keyframes click-start{
    from{
         transform: translate(0 , 1896px);
    }
    to { 
        transform: translate(0 , 0);
    }
}
@keyframes click-end{
    from{
         transform: translate(0 , 0);
    }
    to { 
        transform: translate(0 , 1896px);
    }
}

.on-click-animate-start{
    animation: click-start 275ms linear forwards;
}
.on-click-animate-end{
    animation: click-end 275ms linear forwards;
}
