/* не ну это база */

*{

    outline: none;
    margin: 0;
    padding: 0;
}

.wrapper{ 
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow:scroll;
}

::-webkit-scrollbar {
    width: 0;
  }
/* размеры,стили блоков */
.qrcode-block {
    width: fit-content;
    margin: 0 auto;
}
.bus-number-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: min-content;
    border-radius: 4px;
    background: #f4f4f4;
    padding: 4px;
    margin-bottom: 20px;
}
.title-block-da{
    width: max-content;
    padding: 0px 0px 0px 5px;
}
.ticket{ 
    -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 30%);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.bus-number-block-da {
    display: flex;
    align-items: center;
    width: 110px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    justify-content: center;
}
.ticket-block {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px -3px 0px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 44px 2px rgb(0 0 0 / 8%);
    width: 100%;
    height: 95%;
    border-radius: 20px;
    position: fixed;
    bottom: 95px;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    transform: translate(0 , 99.5%);
}

.title-block{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pay-block-prnt{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.pay-block-link{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.pay-blocks{
    bottom: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 96%;
}
.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    width: 105%;
    
}
.header__block__with__shadow{
    -webkit-box-shadow: 0px 0px 13px 1px rgb(34 60 80 / 12%);
    -moz-box-shadow: 0px 0px 13px 1px rgb(34 60 80 / 12%);
    box-shadow: 0px 0px 13px 1px rgb(34 60 80 / 12%);
}
.header__block{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 115px;
    border-radius: 10px;
    box-sizing: border-box;
    
}
.bold-ruble{
    transform: scale(0.47);
}
.blue-header__block{
    background-color: #36acf2;
}
.pay-block{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 15px;
    padding: 15px;
    -webkit-box-shadow: 0px 5px 22px 0px rgb(34 60 80 / 15%);
    -moz-box-shadow: 0px 5px 22px 0px rgb(34 60 80 / 15%);
    box-shadow: 0px 5px 22px 0px rgb(34 60 80 / 15%);
    border-radius: 10px;
}
.price-block {
    display: block;
    border: 2px solid black;
    height: max-content;
    width: max-content;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
}
.bus-number-block-da{ 
    background: url('../images/vectorpaint.svg') no-repeat;
}
/* размеры шрифтов и стили */
*{ 
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dohuya-vajniy-text-block {
    font-size: 14px;
    color: #808080a6;
}
span.bus-number-region {
    font-size: 13px;
}
p.bus-number {
    font-size: 17px;
    font-weight: 500;
}
p.bus-registration-number {
    color: white;
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
}
#time{
    font-weight: 600;
}
.pay-block__item p {
    font-size: 14px;
}
.header__block p{ 
    display: inline-block;
    height: 35px;
    font-weight: 400;
    font-size: 13px;
}
p.trip-price {
    font-weight: 700;
    text-align: center;
    font-size: 28px;
}
.wt{ 
  color: white; 
}
.title-block h2{
    font-weight: 500;
    font-size: 17px;
} 
.pay-block-button:active{ 
    color: white;
    background-color: #475fd0;
}
.pay-block-text{ 
    font-size:  14px;
}
.balance-bold{ 
    font-weight:700;
}
p.ticket-block-title {
    font-size: 16px;
    font-weight: 600;
}
p.date {
    margin-bottom: 5px;
}
/* размеры,стили картинок */

img.ticket-qrcode {
    height: 33vh;
    width: 70vw;
}
.header__block img {
    width: 44px;
    height: 44px;
    margin-bottom: 8px;
}
.pay-block-info-img{ 
    width: 24px;
    height: 24px;
}

/* стили кнопок */
.pay-block-button{
    width: 85px;
    height: 27px;
    background-color: white;
    border: 1.2px solid #475fd0;
    border-radius: 6px;
    font-size: 14px;
    color: #475fd0;
}

