/* не ну это база */
*{
    margin: 0;
    padding: 0;
}
.wrapper{ 
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* размеры,стили блоков */
.pay-icon-spc{
    margin-top: -50px;
}
.footer-menu__item {
    box-sizing: border-box;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer-menu{
    -webkit-box-shadow: 0px -2px 0px 0px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: 0px -2px 0px 0px rgba(34, 60, 80, 0.19);
    box-shadow: 0px -2px 0px 0px rgba(34, 60, 80, 0.19);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 3px;
} 
.title-block{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pay-block-prnt{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.pay-block-link{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.pay-blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 200px;
    height: 480px;
}
.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}
.header__block__with__shadow{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}
.header__block{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box ; 
    padding: 10px;
    width: 275px;
    height: 275px;
    border-radius: 30px;
}
.blue-header__block{
    background-color: rgb(54,172,242); 
}
.pay-block{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    padding: 25px;
    -webkit-box-shadow: 0px 0px 7px -2px rgb(34 60 80 / 57%);
    -moz-box-shadow: 0px 0px 7px -2px rgba(34, 60, 80, 0.57);
    box-shadow: 0px 0px 7px -2px rgb(34 60 80 / 57%);
    border-radius: 30px;
}

/* размеры шрифтов и стили */
*{ 
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pay-block__item p {
    font-size: 30px;
}
.header__block p{ 
    display: inline-block;
    height: 30px;
    font-weight: 400;
    font-size: 28px;
}
.wt{ 
  color: white; 
}
.title-block h2{
    font-weight: 500;
    font-size: 38px;
}
.footer-menu-text{ 
    font-size:30px;
}
.pay-block-button:active{ 
    color: white;
    background-color: blue;
}
.pay-block-text{ 
    font-size: 30px;
}
.balance-bold{ 
    font-weight:700;
}
p.ticket-block-title {
    font-size: 36px;
    font-weight: 500;
}
/* размеры,стили картинок */
.header__block img{ 
    margin-top: -35px;
    width: 130px;
    height: 120px;
    margin-bottom: 15px;
}
.pay-block-info-img{ 
    width: 50px;
    height:50px;
}
.pay-circle-inner img{ 
    width: 46px;
    height: 46px;
}
/* стили иконок футера */
.meg {
    position: relative;
    width: 0;
    height: 17px;
    border-right: 46px solid grey;
    border-top: 15px solid transparent;
    border-bottom: 16px solid transparent;
    border-radius: 0 4px 4px 0;
}
.meg-rect{ 
    position: absolute;
    top: -2px;
    left: -7px;
    width: 9px;
    height: 22px;
    border-radius: 1px 1px 0 0;
    background-color: grey;
}
.meg-parr{ 
    position: absolute;
    top: 16px;
    left: 5px;
    width: 9px;
    height: 22px;
    background-color: grey;
    transform: rotate(30deg);

}
.map-circle{
    width: 48px;
    height: 48px;
    border-radius: 26px 26px 26px 0px;
    transform: rotate(315deg);
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-circle-inner-circle {
    margin-left: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: white;
}
.pay-circle{
    background: -webkit-linear-gradient(45deg, rgb(0, 91, 234) 22%, rgb(57, 70, 248) 50%);
    background: -moz-linear-gradient(45deg, rgb(0, 91, 234) 22%, rgb(57, 70, 248) 50%);
    background: linear-gradient(45deg, rgb(0, 91, 234) 22%, rgb(57, 70, 248) 50%);
    -webkit-box-shadow: 0px 0px 36px 7px rgb(4 0 249 / 62%);
    -moz-box-shadow: 0px 0px 36px 7px rgba(4, 0, 249, 0.62);
    box-shadow: 0px 0px 36px 7px rgb(4 0 249 / 62%);
    width: 95px;
    height: 95px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
}
.pay-circle-inner{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square-service{
    width: 26px;
    height: 26px;
    background: grey;
    border: 10px;
    border-radius: 3px;
}
.square-service-white{ 
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 3px;
}
.service-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.service-parent-icon{
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.person-icon{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items:center;
    width: 60px;
    height: 60px;
}
.head-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
}
.body-icon{
    width: 45px;
    height: 30px;
    border-radius: 35px 35px 0 0;
    background: grey;
}
/* стили кнопок */
.pay-block-button{
    width: 180px;
    height: 56px;
    background-color: white;
    border: 1.2px solid blue;
    border-radius: 12px;

    font-size: 30px;
    color: blue;
}
