#footer-menu{ 
    position:fixed; 
    bottom: 0;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-menu-item{ 
    display: flex;
    flex-direction:column ; 
    align-items: center;
}
.footer-menu-text{
    font-size: 3vw;
}
#id{ 
    width: 5vw;
    height: 5vw;
}

#tpz1{ 
    height:20px; 
    width: 10px ;
    border-right: 60px solid rgb(148, 158, 168);
    border-top: 20px solid transparent ;
    border-bottom: 20px solid transparent ;
}
#rct1{ 
    position: absolute;
    top: 40px;
    left: 30px;
    width: 13px;
    height: 25px;
    background-color: rgb(148, 158, 168);
    transform: rotate(30deg);
}
#krujok { 
    width:50px;
    height:50px;
    background-color: rgb(148, 158, 168);
    border-radius: 50%;
}
#krujok::after {
    position: absolute;
    top:30px; 
    left: 199px;
    width: 0; 
    height: 0;
    content: "";
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-radius: 50%;
    border-top: 45px solid rgb(148, 158, 168);
}
#krujok::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top:13px; 
    left: 212.8px;
    border: 12px solid rgb(255, 255, 255) ;
    border-radius : 50% ;
    z-index: 2;
}
#bigkrujok{ 
    -webkit-box-shadow: 0px 5px 28px 12px rgba(51, 0, 255, 0.548);
    -moz-box-shadow: 0px 5px 28px 12px rgba(51, 0, 255, 0.548);
    box-shadow: 0px 5px 28px 12px rgba(51, 0, 255, 0.548);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px; 
    border-radius: 50%;
    background: rgb(58,106,252);
    background: linear-gradient(45deg, rgba(58,106,252,1) 0%, rgba(73,37,223,1) 100%);
}
#littlekrujok{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 40px; 
    background: white;
    border-radius: 50%;
}
#qrtojelittle{
    width: 30px;
    height: 30px;
}


#chetirekvadratika{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    height: 70px;
}
.xyeta-dlya-kvadratik{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.kvadratik{ 
    width: 33px;
    height: 33px;
}
.sq1{ 
    background-color: rgb(148, 158, 168);
    border-radius: 15%;
}
.fakeanekvadratik{ 
    box-sizing: border-box;
    border: 2px solid rgb(148, 158, 168); 
    border-radius: 15%;
}
#notwoman{
    /* 
    IF (PERSON == WOMAN) { 
        PESNON.DISH.WASH(); 
        RETURN "WOMAN WORKAET."
    } 
    */ 
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#cr2{ 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(148, 158, 168);
}
#rct2{ 
    width: 52px;
    height: 32px;
    border-radius: 60% 60% 0 0;
    background-color: rgb(148, 158, 168);
}