<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Главная</title>
  <link rel="stylesheet" type="text/css" href="../style/main-styles.css">
  <link rel="stylesheet" href="../style/footer.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<html lang="ru">
  <body>
    <div class="wrapper">
      <header class="header-menu">
          <div class="header__block blue-header__block">
            <img src="../images/telegram-icon.svg" alt="">
            <p class="wt">Новости<br>региона</p>
          </div>
          <div class="header__block header__block__with__shadow">
            <img src="../images/rate-icon.svg" alt="">
            <p>Тарифы</p>
          </div>
          <div id="fullscreen-btn" class="header__block header__block__with__shadow">
            <img src="../images/bus-icon.svg" alt="">
            <p>Билеты<br>по региону</p>
          </div>
      </header>
      <div class="pay-blocks">
        <div class="pay-block">
        <div class="title-block"> 
          <h2>Транспортные карты</h2>
          <img class="pay-block-info-img" src="../images/inf.png" alt="">
        </div>
        <div class="pay-block-link">
          <p class="pay-block-text">привязать банковскую<br>или транспортную карту </p>
          <button class="pay-block-button">Привязать</button>
        </div>
        </div>
        <div class="pay-block">
          <div class="title-block"> 
            <h2>Мобильное приложение</h2>
            <img class="pay-block-info-img" src="../images/inf.png" alt="">
          </div>
          <div class="pay-block-prnt">
            <div class="pay-block__item">
              <p>Кошелек</p>
              <p class="balance"> <span class="balance-bold">250</span> ₽</p>
            </div>
            <div class="pay-block__item">
              <p>Абонимент</p>
              <p>Купить</p>
            </div>
            <div class="pay-block__item">
              <button class="pay-block-button">Пополнить</button>
            </div>
          </div>
        </div>
      </div>
      <div class="ticket-block">
        <div class="title-block-da">
          <p class="ticket-block-title">Ваш билет</p>
        </div>
        <div class="ticket">
          <div>
            <div class="bus-number-block-da">
              <div class="bus-number-block-da-image-block"> <img class= "bus-number-block-da-image-block__img" src="../images/bluebus-ticket-number.svg" alt=""></div>
              <p class="bus-registration-number">211</p>
            </div>
            <div class="about-the-trip-block">
              <p class="date">8 октября, 2022, <span class="time">16:33</span></p>
              <p class="bus-station">Проспект Калинина</p>
            </div>
            <div class="price-block">
              <p class="trip-price">27 ₽</p>
            </div>
          </div>
          <div class="qrcode-block">
            <img class="ticket-qrcode" src="../images/ticket-qrcode.svg" alt="">
          </div>
          <div class="syeta....">
            <div class="bus-number-block">
              <p class="bus-number">С 012 СР <span class="bus-number-region">69</span></p>
            </div>
            <div class="dohuya-vajniy-text-block">
              <p class="dohuya-vajniy-text">ООО "Верхневолжское автотранспортное предприятие"</p>
            </div>
          </div>

        </div>
      </div>
      <%- include("../partials/footer.ejs") %>
    </div>
    <script defer src="../scripts/touchSlider.js"></script>
    <script defer src="../scripts/fullscreen.js"></script>
  </body>
</html>
