<!DOCTYPE html>
<html lang="en">
<head>

    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/main-styles.css">
    <link rel="stylesheet" type="text/css" href="../style/footer.css">
    <link rel="stylesheet" type="text/css" href="../style/profile.css">
    <link rel="stylesheet" type="text/css" href="../style/ticket-setting-style.css">
    <link rel="stylesheet" type="text/css" href="../style/adaptive.css">
    <link rel="stylesheet" type='text/css' href="../style/payment.css">
    <link rel="stylesheet" type="text/css" href="../style/confirm.css">
    <title><%- title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    <%- style %>
</head>
<body>

    <div id="page-block">
        <%- include('../partials/'+page)%>
    </div data="content">
        <%- include('../partials/footer') %>
<script>
        $('.btn-tutorial').on('click' , ()=>{ 

            router('/info')
        })
        $('.btn-profile').on('click' , ()=>{ 
            router('/profile')
        })
        $('.btn-payment').on('click' , ()=>{
            router('/payment')
        })
        $('.btn-service').on('click' , ()=>{ 
            router('/')
        })

        function router(routeUrl , method='GET', obj=''){
            if (obj==''){ 
                $.ajax({
                    url : routeUrl , 
                    method : method,
                    success :(data) =>{
                        document.querySelector('head').querySelector('style').innerHTML = data.split('<style>')[1].split('</style>')[0]
                        document.querySelector('head').querySelector('title').innerHTML = data.split('<title>')[1].split('</title>')[0]
                        $('#page-block').html(data.split('<div id="page-block">')[1].split('</div data="content">')[0])
                    }
                })  
            }
            if (obj != ''){
            console.log(obj)
            $.ajax({
            url : routeUrl , 
            method : method,
            data: JSON.stringify(obj), 
            context : document.body , 
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            success :(data) =>{
                document.querySelector('head').querySelector('style').innerHTML = data.split('<style>')[1].split('</style>')[0]
                document.querySelector('head').querySelector('title').innerHTML = data.split('<title>')[1].split('</title>')[0]
                $('#page-block').html(data.split('<div id="page-block">')[1].split('</div data="content">')[0])
            }
        })
            }
        }

</script>



</body>
</html>