<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/main-styles.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link rel="stylesheet" href="../style/profile.css">
    <title><%- title %></title>
</head>
<body>
    <div id="page-block">
        <%- include('../partials/'+page) %>
    </div>
    <%- include('../partials/footer') %>
    <script src="../scripts/profile-move.js"></script>
</body>
</html>