<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/main-styles.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link rel="stylesheet" href="../style/profile.css">
    <link rel="stylesheet" href="../style/ticket-setting-style.css">
    <title><%- title %></title>
    <script src="https://code.jquery.com/jquery-3.6.2.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
</head>
<body>
    <div id="page-block">
        <%- include('../partials/'+page)%>
    </div data="content">
        <%- include('../partials/footer') %>
<script>
        $('.btn-profile').on('click' , ()=>{ 
            router('/profile')
        })
        $('.btn-service').on('click' , ()=>{ 
            router('/')
        })

        function router(routeUrl){ 
            $.ajax({
            url : routeUrl , 
            method : 'GET',
            success :(data) =>{
                let head = document.querySelector('head').querySelector('title').innerHTML = data.split('<title>')[1].split('</title>')[0]
                $('#page-block').html(data.split('<div id="page-block">')[1].split('</div data="content">')[0])
            }
        })
        }
</script>



</body>
</html>